
<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body><script>
with(document)with(body)with(insertBefore(createElement("script"),firstChild))setAttribute("exparams","category=&userid=&aplus&yunid=%22duxingbo%20%40%201844268484432251%22&&trid=0b737e1017095258899554291e19f4&asid=AQAAAACCS+VlomAKJgAAAACVpY5du5id9g==",id="tb-beacon-aplus",src=(location>"https"?"//g":"//g")+".alicdn.com/alilog/mlog/aplus_v2.js")
</script>

    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title">{{ site.title }}</h2>
        </a>
        <ul>
          <li><a href="{{ '/' | prepend: site.baseurl }}">About Me</a></li>
		  <li><a href="{{ '/publication' | prepend: site.baseurl }}">Publications</a></li>
        </ul>
    </div>
  </nav>

    <main>
      {{ content }}
    </main>
	
	<script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=nHmTJA5SiupPXsb0V5dVzHmHo6Lt3m5RrOpT_aG-zKQ&cl=ffffff&w=320"></script>
    
	<footer>
      <span>
        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}. <a href="https://github.com/kssim/about-portfolio/">A.P</a> theme by kssim.
      </span>
    </footer>
  </body>
</html>
